<select name="id_collection" id="collection" class="select">
    <option value="-1" disabled selected>Choose a collection</option>
    {{#each collections}}
    <option value="{{this._id}}">{{this.label}}</option>
    {{/each}}
</select>